{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
{% if user.is_authenticated %}
{% if active %}
{% if boolean %}
<h2>Results </h2>
    <div class="row">
    {% for listing in active %}
        <div class="card" style="width: 400px; margin: 20px;">
          {% if listing.image %}
            <img class="card-img-top" src="{{ listing.image }}" alt="No Image Provided">
          {% else %}
            <img class="card-img-top" src="{% static 'noimage.png' %}" alt="No Image Provided">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{listing.title}}</h5>
            <p class="card-text">{{listing.description}}</p>
            {% if listing.category %}
            <p class="card-text">Category: {{listing.category}}</p>
            {% endif %}
            <p class="card-text">Current Price: ${{listing.highestbid}}</p>
            <form method="GET" action="{% url 'listing' listing.id %}">
            <input class="btn btn-primary" type="submit" value="View More">
            </form>
          </div>
        </div>
        {% endfor %}
{% else %}
<h2>No results in queried Category!</h2>
{% endif %}
{% else %}
<h2>Categories Available</h2>
    <form method="POST" action="{% url 'categories' %}">
        {% csrf_token %}
    <div class="form-group">
        <label for="categories">Choose a category:</label>
        <select class="form-control" autofocus name="category">
            <option value="Fashion">Fashion</option>
            <option value="Toys">Toys</option>
            <option value="Electronics">Electronics</option>
            <option value="Home">Home</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Create Listing">
    </form>
{% endif %}
{% else %}
<h1>Please Login or Register!</h1>
{% endif %}
{% endblock %}